In [1]:
!uv add kagglehub

warning: `VIRTUAL_ENV=/home/noah/.cache/uv/builds-v0/.tmph7AjfC` does not match the project environment path `.venv` and will be ignored; use `--active` to target the active environment instead
Resolved 13 packages in 391ms
Prepared 4 packages in 332ms
Installed 4 packages in 19ms
 + kagglehub==0.4.1
 + kagglesdk==0.1.15
 + pyyaml==6.0.3
 + tqdm==4.67.1

In [2]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("vitthalmadane/ts-temp-1")

print("Path to dataset files:", path)

Downloading to /home/noah/.cache/kagglehub/datasets/vitthalmadane/ts-temp-1/2.archive...

100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 100k/100k [00:00<00:00, 1.70MB/s]

Extracting files...
Path to dataset files: /home/noah/.cache/kagglehub/datasets/vitthalmadane/ts-temp-1/versions/2

In [3]:
!uv add pandas

warning: `VIRTUAL_ENV=/home/noah/.cache/uv/builds-v0/.tmph7AjfC` does not match the project environment path `.venv` and will be ignored; use `--active` to target the active environment instead
Resolved 18 packages in 464ms
Prepared 1 package in 1.00s
Installed 1 package in 12ms
 + pandas==3.0.0

In [17]:
import pandas as pd
import os
file_path = os.path.join(path, 'MLTempDataset.csv')
nba = pd.read_csv(file_path)

In [18]:
nba.info()

<class 'pandas.DataFrame'>
RangeIndex: 6676 entries, 0 to 6675
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  6676 non-null   int64
 1   Datetime1   6676 non-null   int64
 2   DAYTON_MW   6676 non-null   float64
 3   Datetime    6676 non-null   str
dtypes: float64(1), int64(2), str(1)
memory usage: 208.8 KB

In [19]:
nba.describe()

        Unnamed: 0    Datetime1    DAYTON_MW
count  6676.000000  6676.000000  6676.000000
mean   3337.500000    11.502846    21.736007
std    1927.339531     6.909701     6.850502
min       0.000000     0.000000     5.350000
25%    1668.750000     6.000000    17.512750
50%    3337.500000    11.000000    23.900000
75%    5006.250000    17.000000    26.367000
max    6675.000000    23.000000    36.500000

In [21]:
import numpy as np
nba.describe(include=object)

/tmp/ipykernel_74318/984611087.py:2: Pandas4Warning: For backward compatibility, 'str' dtypes are included by select_dtypes when 'object' dtype is specified. This behavior is deprecated and will be removed in a future version. Explicitly pass 'str' to `include` to select them, or to `exclude` to remove them and silence this warning.
See https://pandas.pydata.org/docs/user_guide/migration-3-strings.html#string-migration-select-dtypes for details on how to write code that works with pandas 2 and 3.
  nba.describe(include=object)

                   Datetime
count                  6676
unique                 6676
top     2022-01-04 00:00:00
freq                      1