In [1]:
!uv add kagglehub

warning: `VIRTUAL_ENV=/home/noah/.cache/uv/builds-v0/.tmpp1sMo9` does not match the project environment path `.venv` and will be ignored; use `--active` to target the active environment instead
Resolved 18 packages in 0.41ms
Audited 15 packages in 0.09ms

# Import Data
In order to train our model, we are going to import time series data of room temperature.

With our RNN, we are going to try to forecast the temperature of a room given a certain air flow temperature.

You can find this dataset here: https://www.kaggle.com/datasets/vitthalmadane/ts-temp-1/data?select=MLTempDataset.csv

In [3]:
import kagglehub

# Download latest version of dataset to local filesystem
path = kagglehub.dataset_download("vitthalmadane/ts-temp-1")

print("Path to dataset files:", path)

Path to dataset files: /home/noah/.cache/kagglehub/datasets/vitthalmadane/ts-temp-1/versions/2

warning: `VIRTUAL_ENV=/home/noah/.cache/uv/builds-v0/.tmpp1sMo9` does not match the project environment path `.venv` and will be ignored; use `--active` to target the active environment instead
Resolved 18 packages in 1ms
Audited 15 packages in 0.21ms

In [4]:
import pandas as pd
import os
file_path = os.path.join(path, 'MLTempDataset.csv')
nba = pd.read_csv(file_path)

In [5]:
nba.info()

<class 'pandas.DataFrame'>
RangeIndex: 6676 entries, 0 to 6675
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  6676 non-null   int64
 1   Datetime1   6676 non-null   int64
 2   DAYTON_MW   6676 non-null   float64
 3   Datetime    6676 non-null   str
dtypes: float64(1), int64(2), str(1)
memory usage: 208.8 KB

In [6]:
nba.describe()

        Unnamed: 0    Datetime1    DAYTON_MW
count  6676.000000  6676.000000  6676.000000
mean   3337.500000    11.502846    21.736007
std    1927.339531     6.909701     6.850502
min       0.000000     0.000000     5.350000
25%    1668.750000     6.000000    17.512750
50%    3337.500000    11.000000    23.900000
75%    5006.250000    17.000000    26.367000
max    6675.000000    23.000000    36.500000

In [7]:
import numpy as np
nba.describe(include=object)

/tmp/ipykernel_15805/984611087.py:2: Pandas4Warning: For backward compatibility, 'str' dtypes are included by select_dtypes when 'object' dtype is specified. This behavior is deprecated and will be removed in a future version. Explicitly pass 'str' to `include` to select them, or to `exclude` to remove them and silence this warning.
See https://pandas.pydata.org/docs/user_guide/migration-3-strings.html#string-migration-select-dtypes for details on how to write code that works with pandas 2 and 3.
  nba.describe(include=object)

                   Datetime
count                  6676
unique                 6676
top     2022-01-04 00:00:00
freq                      1

In [8]:
nba.ndim

2

In [10]:
nba.head

<bound method NDFrame.head of       Unnamed: 0  Datetime1  DAYTON_MW             Datetime
0              0          0     20.867  2022-01-04 00:00:00
1              1          1     21.000  2022-01-04 01:00:00
2              2          2     20.867  2022-01-04 02:00:00
3              3          3     20.650  2022-01-04 03:00:00
4              4          4     20.400  2022-01-04 04:00:00
...          ...        ...        ...                  ...
6671        6671         19     27.350  2022-10-08 23:00:00
6672        6672         20     26.800  2022-10-09 00:00:00
6673        6673         21     26.450  2022-10-09 01:00:00
6674        6674         22     25.900  2022-10-09 02:00:00
6675        6675         23     25.567  2022-10-09 03:00:00

[6676 rows x 4 columns]>

In [11]:
nba = nba.to_numpy()

In [14]:
# So, we are looking to grab column 3 in this tensor
nba[0:5]

array([[0, 0, 20.867, '2022-01-04 00:00:00'],
       [1, 1, 21.0, '2022-01-04 01:00:00'],
       [2, 2, 20.867, '2022-01-04 02:00:00'],
       [3, 3, 20.65, '2022-01-04 03:00:00'],
       [4, 4, 20.4, '2022-01-04 04:00:00']], dtype=object)

In [18]:
temps = nba[:, 2]

array([20.867, 21.0, 20.867, ..., 26.45, 25.9, 25.567],
      shape=(6676,), dtype=object)